@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

@font-face {
    font-family: Sportsbet-Icons;
    src: url("../fonts/Sportsbet-Icons.woff")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
}

:root {
    color: transparent;
}

body {
    background-color: #0077CC;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    height: 100%;
    padding: 0;
    width: 100%;
}

.main {
    background: linear-gradient(to bottom, #00549E, #1C75BC);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 23;
}

.modalContent {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    outline: none;
    position: relative;
}

.headerContainerDesktop {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 6.25rem;
    justify-content: space-between;
    margin: 0rem 1.875rem;
    position: relative;
    z-index: 2;
}

.centerLogo {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.centerLogo>div {
    margin: 0 auto;
}

.closeButtonContainer {
    align-items: center;
    display: flex;
    margin-left: auto;
    z-index: 3;
}

.image {
    background: url(../images/sportsbet_logo_large.png) no-repeat center center;
    background-attachment: scroll;
    background-size: contain;
    height: 1.625rem;
    width: 7.5625rem;
}

.lighter {
    border-radius: 50%;
    position: relative;
    color: #FFFFFF;
}

.border {
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.rippleGroup {
    border-radius: inherit;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.iconContainer {
    align-items: center;
    background: none;
    border-radius: inherit;
    display: flex;
    height: 2rem;
    justify-content: center;
    position: relative;
    width: 2rem;
}

.noFocus {
    align-items: center;
    border-radius: inherit;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.bodyContainerFixedDesktop {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto 1.5rem auto;
    width: 22.625rem;
    z-index: 1;
}

.loginContainer {
    margin-bottom: 1.5rem;
}

.formCard {
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
    padding: 1rem;
}

.White {
    color: #FFFFFF;
}

.alignCenter {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.size18 {
    font-size: 1.125rem;
}

.buttonContainer2 {
    border-radius: 0.25rem;
    height: 100%;
    position: relative;
}

.hasMarginBottom {
    margin-bottom: 1rem;
}

.CodGray {
    color: #111111;
}

.forgottenLogin {
    background-color: rgba(0, 0, 0, 0);
    color: #0077CC;
    margin-bottom: 0.25rem;
    margin-top: 1.5rem;
    width: 100%;
}

.textButton {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
    cursor: default;
    height: 100%;
    width: 100%;
}

.insideButtonNormalContent {
    align-items: center;
    border-radius: inherit;
    display: flex;
    height: inherit;
    justify-content: center;
    width: inherit;
}

.ironGrey {
    background-color: #DEE1E3;
    border: 0rem solid rgba(0, 0, 0, 0);
    box-shadow: inset 0rem -0.0625rem 0rem 0rem rgb(0 0 0 / 20%);
    color: #111111;
}

.hover {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.defaultCorners {
    border-radius: 0.25rem;
}

.textContainer {
    display: flex;
    justify-content: center;
    line-height: 1rem;
    padding: 1rem;
    position: relative;
    width: inherit;
}

button {
    border-radius: 0;
    border: none;
}

.keepLoggedIn {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: #111111;
    display: inline-block;
}

.hiddenCheckboxButton {
    height: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.radioButtonContainer {
    align-items: center;
    display: flex;
}

.buttonContainer {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 1.5rem;
    width: 1.5rem;
}

.checkRippleContainer {
    height: 2.5rem;
    left: -0.7rem;
    position: relative;
    width: 2.5rem;
}

.image2 {
    background: url(/images/checkbox-filled_uncheck.png) no-repeat center center;
    background-attachment: scroll;
    background-size: contain;
    height: 1.125rem;
    width: 1.125rem;

}

.image2.button2.visibility {
    background: url(/images/checkbox-filled.png) no-repeat center center;
    background-attachment: scroll;
    background-size: contain;
    height: 1.125rem;
    width: 1.125rem;
}

.fullWidthWrapper {
    position: relative;
    width: 100%;
}

.green {
    background-color: #4AA331;
    border: 0rem solid rgba(0, 0, 0, 0);
    box-shadow: inset 0rem -0.0625rem 0rem 0rem rgb(0 0 0 / 20%);
    color: #FFFFFF;
}

.buttonContent {
    align-items: center;
    display: flex;
}

.size14 {
    font-size: 0.875rem;
}

.radioButtonLabel {
    margin-left: 0.25rem;
}

.button2 {
    margin-left: -2.5rem;
    position: relative;
}

.container {
    position: relative;
}

.container2 {
    padding-top: 0.8125rem;
    position: relative;
    width: 100%;
}

.container2 .label {
    font-size: 0.875rem;
    line-height: 1rem;
    position: absolute;
    top: 21px;
    transform-origin: left top;
}

.inputContainer {
    padding: 0;
    position: relative;
}

.inputRightIconPadding {
    padding-right: 1.8125rem;
}

.inputControl {
    -webkit-appearance: none;
    border: 1px solid #C3C5C7;
    border-radius: 0.0625rem;
    height: 1.5625rem;
    padding: 0rem 0.325rem;
    width: 100%;
}

.input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-family: Roboto;
    font-size: 0.875rem;
    height: 2rem;
    line-height: 2rem;
    outline: none;
    padding-left: 0;
}

.grey {
    color: #686B70;
}

.blue {
    border-bottom-color: #0077CC;
}

.blue2 {
    color: #0077CC;
}


.descriptionContainerRightAligned {
    display: flex;
    justify-content: flex-end;
}

.bottomUnderline {
    border-bottom-style: solid;
    border-bottom-width: 0.0625rem;
    position: absolute;
    width: 100%;
}

.lightGrey {
    border-bottom-color: #C3C5C7;
}

.exited {
    opacity: 0;
    transform: scaleX(0);
}

.animatedUnderline {
    border-bottom-width: 0.125rem;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}



.passwordContainer {
    margin-top: 1.25rem;
}

.passwordContainer2 {
    position: relative;
}

.container3 {
    padding-top: 0.8125rem;
    position: relative;
    width: 100%;
}

.iconContainer3 {
    display: flex;
    position: absolute;
    right: 0rem;
    top: 0.875rem;
}

.SilverSand {
    color: #C3C5C7;
}

.iconReveal {
    cursor: pointer;
    padding: 0.375rem 0rem 0.375rem 0.375rem;
}

.icon {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    font-family: Sportsbet-Icons;
    font-style: normal;
    user-select: none;
}

.visibility::before {
    content: "";
}

.staticUnderlineHover {
    border-bottom-width: 0.125rem;
}

.container3 .label {
    font-size: 0.875rem;
    line-height: 1rem;
    position: absolute;
    top: 21px;
    transform-origin: left top;
}

.iconContainer2 {
    align-items: center;
    background: none;
    border-radius: inherit;
    display: flex;
    height: 2rem;
    justify-content: center;
    position: relative;
    width: 2rem;
}

.SIZE_19 {
    font-size: 1.1875rem;
}

.closeIsolated::before {
    content: "";
}

.noFocus:hover,
.hover:hover,
.none-with-text:hover,
.none-with-yellow-text:hover,
.none-with-white-text:hover,
.none-with-grey-text:hover,
.blue-with-white-text:hover,
.deep-blue-with-white-text:hover,
.blue-with-yellow-text:hover,
.Porcelain:hover,
.Endeavour:hover,
.Gradient:hover,
.White:hover,
.childButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.entered {
    transform: scale(0.785) translate(0, -24px);
}

.entered2 {
    transform: scaleX(1);
}

.visibilityOff::before {
    content: "";
}

.insideButtonNormalContent a {
    text-decoration: none;
}

/* MODAL */
.modal-trigger {
    padding: 1em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E8E8E8;
}

.modal-trigger:hover {
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba(30, 30, 30, 0.8);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.modal-container {
    position: fixed;
    max-width: 780px;
    top: 50%;
    left: 50%;
    width: calc(100% - 50px);
    margin: 0 auto;
    z-index: 200;
    text-align: center;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgb(0 0 0 / 20%);
}

.modal-content {
    position: relative;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.3s;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgb(0 0 0 / 20%);
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3em 0.4em;
    color: #005c00;
    font-size: 2em;
}

.modal-close:hover {
    cursor: pointer;
}

.modal-content__img {
    max-height: 50%;
    width: 100%;
}

.modal-content__img-caption {
    width: 100%;
    height: 70vh;
    overflow: scroll;
    color: #111;
    padding: 50px 20px 25px;
    text-align: left;
}

.modal-content__img-caption p {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 0 1em;
    margin: 15px 0;
}

.modal--show {
    visibility: visible;
}

.modal--show~.modal-overlay {
    visibility: visible;
    opacity: 1;
}

.modal--show .modal-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.lighter2 {
    border-radius: 50%;
    position: relative;
    color: #000000;
}

.article-body ul,
.article-body ol {
    padding-left: 20px;
    list-style-position: outside;
    margin: 20px 0 0px 0px;
}

.hr2 {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

.titleCentered {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.titleCentered h2 {
    margin: 0;
}

.title {
    font-family: Titillium Web, sans-serif;
    line-height: 1.75rem;
    text-align: center;
}

.SchoolBus {
    color: #FAD701;
}

.size22 {
    font-size: 1.375rem;
}

.registrationFormContainerDesktop {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    z-index: 1;
    margin: 0.5rem auto;
    width: 100%;
}

.bonus_text {
    color: #000;
    padding: 20px 0;
    text-align: center;
    line-height: 20px;
}

.ccNumberLabelWrapper {
    display: flex;
}

.cardNumberInfo {
    display: inline-block;
    padding-bottom: 0.75rem;
}

.ccImagesText {
    align-items: center;
    display: flex;
    padding-right: 1rem;
}

.ccImagesText .image {
    background: url(/images/visa_big.png) no-repeat center center;
    background-attachment: scroll;
    background-size: contain;
    height: 0.75rem;
    width: 2.5rem;
}

.ccImagesText .image.imageSpacing {
    background: url(/images/mastercard.png) no-repeat center center;
    background-attachment: scroll;
    background-size: contain;
    height: 1.875rem;
    width: 1.875rem;
}

.imageSpacing {
    margin-left: 0.5rem;
}

.container .container {
    padding-top: 0.8125rem;
    position: relative;
    width: 100%;
}

.codGray {
    color: #111111;
}

label.label {
    font-size: 0.875rem;
    line-height: 1rem;
    position: absolute;
    top: 21px;
    transform-origin: left top;
}

.inputContainer.inputContainer {
    padding: 0;
    position: relative;
}

input#cc-number {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-family: Roboto;
    font-size: 0.875rem;
    height: 2rem;
    line-height: 2rem;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0.0625rem;
    padding: 0rem 0.325rem;
    padding-left: 0;
    width: 100%;
}

.expiryCVVfieldsWrapper {
    display: flex;
    flex-direction: row;
    padding: 1.125rem 0rem 0.5rem;
}

.expiryDateWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cvvFieldWrapper {
    display: flex;
    flex: 0.65;
    flex-direction: row;
    padding-top: 0.1875rem;
}

.cvvRightSpacer {
    display: flex;
    flex: 0.65;
    flex-direction: row;
    padding-top: 0.1875rem;
}

.expiryDateInputFieldsWrapper {
    display: flex;
    flex-direction: row;
}

.expiryField {
    display: flex;
    flex: 0.31;
}

.expiryDateSeparator {
    display: flex;
    flex: 0.195;
    justify-content: center;
    padding-top: 0.4375rem;
}

.containerNoLabel {
    position: relative;
    width: 100%;
}

.descriptionContainer {
    display: flex;
    justify-content: space-between;
}

.descriptionText {
    display: flex;
    flex-direction: column;
    font-size: 0.6875rem;
    height: 0.8125rem;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.Nevada {
    color: #686B70;
}

input#cc-expiry-year {
    -webkit-appearance: none;
    border-radius: 0.0625rem;
    padding: 0rem 0.325rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-family: Roboto;
    font-size: 0.875rem;
    height: 2rem;
    line-height: 2rem;
    outline: none;
    padding-left: 0;
}

.rightIconPlacement {
    padding-left: 0.375rem;
    right: 0;
}

.default {
    align-items: center;
    display: flex;
    font-size: 1.0625rem;
    height: 2rem;
    position: absolute;
    top: 0.8125rem;
}

input#cc-cvv-number {
    -webkit-appearance: none;
    border-radius: 0.0625rem;
    padding: 0rem 0.325rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-family: Roboto;
    font-size: 0.875rem;
    height: 2rem;
    line-height: 2rem;
    outline: none;
    padding-left: 0;
    padding-right: 1.8125rem;
}

.creditCard::before {
    content: "";
}

.cvvRightSpacer2 {
    display: flex;
    flex: 0.34;
}


.form2 {
    background: #FFFFFF;
    max-width: 25rem;
}

.fields {
    display: flex;
    justify-content: space-between;
}

.presetsContainer {
    margin-top: 2rem;
}

.buttonField {
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
}

.depositFieldDesktop {
    width: 11.25rem;
}

.cvvDesktop {
    margin-left: 0;
    width: 0;
}

.buttonContainer3 {
    align-content: center;
    display: flex;
    flex-direction: row;
    height: 2.375rem;
}

.buttonDesktop {
    color: #111111;
    height: 100%;
    margin-right: 0.5rem;
    text-align: center;
    width: 4.125rem;
}

.buttonContainer_in {
    border-radius: 0.25rem;
    height: 100%;
    position: relative;
}

button.textButtonVariable {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
    cursor: default;
    display: block;
    height: 100%;
    width: 100%;
}

.white {
    background-color: #FFFFFF;
    border: 0.0625rem solid #C3C5C7;
    border-bottom: 0.125rem solid #C3C5C7;
    color: #111111;
}

.submitButton {
    height: 3rem;
    width: 8.125rem;
}

.buttonContainer5 {
    border-radius: 0.25rem;
    height: 100%;
    position: relative;
}

.lock::before {
    content: "";
}

.securityInfoAndLink {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.securityInfo {
    align-items: center;
    display: flex;
    padding-top: 0.75rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.Endeavour {
    color: #00549E;
}

.size11 {
    font-size: 0.6875rem;
}

.securityInfoText {
    font-size: 0.6875rem;
}

.securityIcon {
    color: #686B70;
    opacity: 0.58;
}

.you_get {
    padding-top: 1.5rem;
}

@media screen and (max-width: 768px) {

    .bodyContainerFixedDesktop {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0 auto 1.5rem auto;
        width: 18rem;
        z-index: 1;
    }

    .headerContainerDesktop {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        height: 4.125rem;
        justify-content: space-between;
        margin: 0rem 0.75rem;
        position: relative;
        z-index: 2;
    }

}